{% extends 'base.html' %}





{% block content %}

{% load static %}

    <!-- Date Range CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/daterange/daterange.css' %}">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bs-select/bs-select.css' %}" />


    <style>
      .formset-row {
    height: 80px; 
    position: relative; /* Для розміщення повідомлень у фіксованому положенні */
    }
    .input-field {
        padding-bottom: 20px; /* Відступ знизу для повідомлення */
        position: relative;
    }
    .customer-card{
      background-color: white;
    }

.fullscreen-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.customer-card:hover .fullscreen-icon {
    opacity: 1;
}

#preview {
    cursor: pointer;
}

    </style>
<div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">{{title}}</h5>
        </div>
        {% if errors %}
        <span class="alert alert-danger alert-dismissible fade show" hidden="none" data-message="{{ errors }}"></span>
        {% elif messages %}
        {% for message in messages %}
            <span 
                class="alert alert-success alert-dismissible fade show" 
                hidden="none" 
                data-message="{{ message }}">
            </span>
        {% endfor %}
        {% elif success %}
        <span 
            class="alert alert-success alert-dismissible fade show" 
            hidden="none" 
            data-message="{{ success }}">
        </span>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="card-body">
          <div class="create-invoice-wrapper">


            <!-- Row start -->
            <div class="row">
              <div class="col-sm-6 col-12">
                <!-- Row start -->
                <div class="row">
                  <div class="col-sm-12 col-12">
                    <!-- Form group start -->
                            <div class="row">
                              <div class="col-sm-12 col-12">
                                <div class="mb-3">
                                  <label class="form-label">{{ post_form.category.label_tag }} <span class="text-red">*</span></label>
                                  {{ post_form.category }}
                                </div>
                              </div>

                              <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                  <label class="form-label">{{ post_form.types.label_tag }}</label>
                                  {{ post_form.types }}
                                </div>
                              </div>
                              <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                  <label class="form-label">{{ post_form.payment_in.label_tag }} <span class="text-red">*</span></label>
                                  {{ post_form.payment_in }}
                                </div>
                              </div>
                              <div class="col-sm-12 col-12">
                                <div class=" mb-3">
                                        <label class="form-label">{{ post_form.date_payment.label_tag }} <span class="text-red">*</span></label>
                                        <div class="input-group">
                                          <span class="input-group-text">
                                            <i class="bi bi-calendar4"></i>
                                          </span>
                                        {{ post_form.date_payment }}
                                        </div>
                                </div>
                              </div>
                              <div class="col-sm-12 col-12">
                                <div class="mb-3">
                                            <label for="{{ f.id_for_label }}" class="form-label">   {{ post_form.scrin.label_tag }}</label>
                                        <div class="input-group">
                                            <span class="input-group-text">Оплата</span>
                                            {{ post_form.scrin }}
                                        </div>
                                </div>
                              </div>                                
                  <div class="col-sm-12 col-12">
                    <div class="mb-2">
                      <label for="msgCustomer" class="form-label">{{ post_form.posts_text.label_tag }}</label>
                      {{ post_form.posts_text }}
                    </div>
                  </div>
     
                </div>
                <!-- Row end -->
              </div>
              
            </div>
            <!-- Row end -->
          </div>
          <div class="col-sm-6 col-12">
            <!-- Row start -->
            <div class="row">
              <label class="form-label">Картка клієнта: </label>
              <div class="col-sm-12 col-12">
                <!-- Form group start -->
                        <div class="row">
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card">
                              <h6>Client ID:</h6>
                              <h5>#{{client.id}}</h5>
                            </div>
                          </div>    
                      <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card">
                              <h6>Username:</h6>
                              <h5>{{client.social_media}}</h5>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card">
                              <h6>Локація:</h6>
                              <h5>{{client.city}}</h5>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card">
                              <h6>Дата створення:</h6>
                              <h5>{{client.data}}</h5>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card">
                              <h6>Дата першої покупки:</h6>
                              <h5>{{ data_the_first_buys|default:"Дані не знайдено" }}</h5>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card">
                              <h6>Дата останньої покупки:</h6>
                              <h5>{{ data_the_last_buys|default:"Дані не знайдено" }}</h5>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card" >
                              <h6>Кількість продажів:</h6>
                              <h5>{{client_cost}}</h5>
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-6">
                            <div class="customer-card position-relative">
                                <h6>Скріншот оплати:</h6>
                                <img 
                                    class="img-fluid change-img-avatar" 
                                    id="preview" 
                                    {% if is_update %}
                                    {% if post.scrin %}
                                    src="{{ post.scrin.url }}" alt="Зображення"
                                    {% else %}
                                    {% load static %}
                                    src="{{ defualut_image }}" alt="Зображення за замовчуванням"
                                    {% endif %}
                                    {% else %} 
                                    {% load static %}
                                    src="{{ defualut_image }}"
                                    {%endif%}
                                    width="150px" 
                                    height="150px" 
                                    alt="Попередній перегляд"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalDark"
                                >
                                <i class="bi bi-arrows-fullscreen fullscreen-icon"></i>
                            </div>
                        </div>
   
                   
            </div>
            <!-- Row end -->
          </div>
          
        </div>
        <!-- Row end -->
      </div>
        </div>
      </div>

          <!-- Row start -->
          <div class="row">
            <div class="col-12 col-sm-12">
              <h5 class="card-title">Публікації</h5>
              <div data-select2-id="select2-data-140-kx13" style="margin-bottom: 10px;" >
                <label class="form-label">Обрати групу каналів:</label>
                <select id="select-chaneger" class="select-multiple js-states form-control" title="Select Channel" multiple="multiple">
                    {% for category, channels in grouped_channels.items %}
                        <optgroup label="{{ category }}">
                            <!-- Опція для вибору всієї групи -->
                            <option value="select_all_{{ category|slugify }}" class="select-all-option" data-category="{{ category }}">Вибрати всі {{ category }}</option>
                            {% for channel in channels %}
                                <option value="{{ channel.id }}">{{ channel.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
              </div>
                <div class="table-responsive">
                    <table class="table truncate table-bordered">
                        <thead>
                            <tr>
                                <th>Канал</th>
                                <th>Час публікації</th>
                                <th>Дата публікації</th>
                                <th>Тариф</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody id="formset-table-body">
                         
                            {{ formset.management_form }}
                            {{ formset.non_form_errors }}
                            {% for form in formset %}
                            <tr class="formset-row">
                              {% for field in form %}
                              {% if field.name == "tarif" %}
                                    <td>
                                        <div class="input-group m-0">
                                            {{ field }}
                                            <span class="input-group-text">грн</span>
                                        </div>
                                    </td>
                                {% elif field.name == "post"  %}
                                {{ field }}
                                {% else %}
                                    <td>{{ field }}</td>
                                {% endif %}
                            {% endfor %}

                                <td>
                                    <button type="button" class="btn btn-outline-danger remove-row-btn">
                                        <i class="bi bi-trash m-0"></i>
                                    </button>
                                </td>
                              
                            </tr>
                            {% endfor %}
             
                </tbody>
                    </table>
                    <table  class="table truncate table-bordered">
                        <tbody>
                    <tr>
                      <td colspan="3">
                        <button type="button" class="btn btn-dark" id="add-new-row">
                          Додати канал
                        </button>
                      </td>
                    </tr>
                        <tr>
                          <td class="text-end" style="vertical-align: middle;"><p class="m-0">Початкова сума:</p></td>
                          <td><input type="text" id="inp-total" name="total-sum" class="form-control" placeholder="0" {% if is_update %} value="{{total_tarif}}"{%endif%}/></td>
                        </tr>
                        <tr>
                          <td class="text-end" style="vertical-align: middle;"><p class="m-0">Знижка % від початкової суми:</p></td>
                          <td> <input type="text" id="inp-discount" class="form-control" placeholder="0%" /></td>
                        </tr>
                    <tr>
                      <td class="text-end" >
                        <p class="m-0 " >Сума до знижки</p>
                        <p class="m-0">Знижка</p>
                        <h5 class="mt-2 text-red">Загальна сума</h5>
                      </td>
                      <td>
                        <p class="m-0" id="val-sum-not-discount">0.00 грн</p>
                        <p class="m-0"  id="val-sum-discount">0.00 грн</p>
                        <h5 class="mt-2 text-red" id="val-sum">0.00 грн</h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12">
              <div class="text-end">
                {% if is_update %}
                <button type="submit" class="btn btn-success ms-1 is_update">Внести зміни</button>
                {% else %}
                <button type="submit" class="btn btn-success ms-1">Створити Invoice</button>
                {% endif %}
                </div>
                </div>
              </div>
                       <!-- Form group end -->
        </form>
          <!-- Row end -->
        </div>
      </div>
    </div>
  </div>


                       <!-- Модальне вікно -->

                       <div class="modal fade" id="modalDark" tabindex="-1" aria-labelledby="modalDarkLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalDarkLabel">Скріншот оплати.</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <img id="modalImage" class="img-fluid w-100" src="{{ defualut_image }}" alt="Збільшений перегляд">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Закрити</button>
                            </div>
                          </div>
                        </div>
                      </div>
{% block js %}



{% load static %}

<script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>

<script src="{% static 'assets/js/moment.js' %}"></script>

 <!-- Date Range JS -->
 <script src="{% static 'assets/vendor/daterange/daterange.js' %}"></script>
 <script src="{% static 'assets/vendor/daterange/custom-daterange.js' %}"></script>

      <!-- Bootstrap Select JS -->
    <script src="{% static 'assets/vendor/bs-select/bs-select.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bs-select/bs-select-custom.js' %}"></script>
    <!-- Buttons -->
    <script src="{% static 'assets/js/add-post.js' %}"></script>

    <script src="{% static 'assets/vendor/input-masks/cleave.min.js' %}"></script>

{% endblock js %}
{% endblock %}
